style.css body,
html {
    max-width: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.headerdown {
    position: relative;
    background-color: #FFF;
    width: 1440px;
    height: 62px;
    top: -34px;
}

header {
    width: 100%;
    height: 75px;
    background-color: #D9D9D9;
    color: black;
}

.nav1 {
    position: relative;
    color: #474747;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    left: 82.5%;
    top: -56px;
}

.nav2 {
    position: relative;
    text-decoration-line: underline;
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
    left: 87%;
    top: -17px;
}

.nav3 {
    position: relative;
    text-decoration-line: underline;
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
    left: 92%;
    top: -37px;
}

.logo {
    position: relative;
    width: 218.86px;
    height: 44.08px;
    top: 17px;
    left: 105px;
}

.button1 {
    width: 160px;
    border-color: #D9D9D9;
    background-color: white;
    border-left-style: solid;
    border-right-width: 0.5px;
    border-right-style: solid;
    border-left-width: 0.5px;
    height: 62px;
    position: relative;
    top: 0px;
    left: 5%;
    align-items: center;
}

.menu1 {
    text-decoration: none;
    font-size: 16px;
    color: black;
    position: relative;
    right: -36%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu1e {
    text-decoration: none;
    font-size: 12px;
    color: #474747;
    position: relative;
    right: -31%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.button2 {
    width: 175px;
    border-color: #D9D9D9;
    background-color: white;
    border-right-width: 0.5px;
    border-right-style: solid;
    height: 62px;
    position: relative;
    top: -62px;
    left: 17%;
    align-items: center;
}

.menu2 {
    text-decoration: none;
    color: black;
    position: relative;
    right: -22%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu2e {
    text-decoration: none;
    color: #474747;
    position: relative;
    right: -28%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.button3 {
    width: 185px;
    border-color: #D9D9D9;
    background-color: white;
    border-right-width: 0.5px;
    border-right-style: solid;
    height: 62px;
    position: relative;
    top: -124px;
    left: 31%;
    align-items: center;
}

.menu3 {
    text-decoration: none;
    color: black;
    position: relative;
    right: -29%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu3e {
    text-decoration: none;
    color: #474747;
    position: relative;
    right: -27%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.button4 {
    width: 180px;
    border-color: #D9D9D9;
    background-color: white;
    border-right-width: 0.5px;
    border-right-style: solid;
    height: 62px;
    position: relative;
    left: 44%;
    top: -186px;
    align-items: center;
}

.menu4 {
    text-decoration: none;
    color: black;
    position: relative;
    right: -25%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu4e {
    text-decoration: none;
    color: #474747;
    position: relative;
    right: -23%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.button5 {
    width: 180px;
    border-color: #D9D9D9;
    background-color: white;
    border-right-width: 0.5px;
    border-right-style: solid;
    height: 60px;
    position: relative;
    left: 57%;
    top: -248px;
    align-items: center;
}

.menu5 {
    text-decoration: none;
    color: black;
    position: relative;
    right: -29%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu5e {
    text-decoration: none;
    color: #474747;
    position: relative;
    right: -25%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.button6 {
    width: 178px;
    border-color: #D9D9D9;
    background-color: white;
    border-right-width: 0.5px;
    border-right-style: solid;
    height: 62px;
    position: relative;
    left: 70%;
    top: -308px;
    align-items: center;
}

.menu6 {
    text-decoration: none;
    color: black;
    position: relative;
    right: -33%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu6e {
    text-decoration: none;
    color: #474747;
    position: relative;
    right: -33%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.button7 {
    width: 178px;
    border-color: #D9D9D9;
    background-color: white;
    border-right-width: 0.5px;
    border-right-style: solid;
    height: 62px;
    position: relative;
    left: 83%;
    top: -370px;
    align-items: center;
}

.menu7 {
    text-decoration: none;
    color: black;
    position: relative;
    right: -31%;
    top: 15px;
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.menu7e {
    text-decoration: none;
    color: #474747;
    position: relative;
    right: -26.5%;
    top: 15px;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.kep1 {
    object-fit: fill;
    width: 100%;
    height: 705px;
    position: relative;
    top: 64px;
}


.whiterect {
    position: relative;
    background: #F4F4F4;
    width: 100%;
    height: 673px;
    top: 59px;
}

.kep2 {
    position: relative;
    width: 710px;
    height: 504px;
    top: 72px;
}

.text1e {
    color: #303030;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    position: relative;
    top: -425px;
    left: 54%;
}

.redbox {
    position: relative;
    background-color: #BF0F0F;
    width: 137px;
    height: 6px;
    top: -608px;
    left: 54%;
}

.text1b {
    position: relative;
    color: #474747;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    top: -390px;
    left: 54%;
}

.text1c {
    position: relative;
    color: #474747;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 22.4px;
    top: -295px;
    left: 54%;
}

.graybox {
    position: relative;
    background-color: #C4C4C4;
    width: 524px;
    height: 3px;
    top: -470px;
    left: 54%;
}

.redbutton {
    display: inline-flex;
    position: relative;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Primary, #BF0F0F);
    color: var(--Surface, #FFF);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    grid-column: 2/2;
    width: 184px;
    left: 54%;
    top: -260px;
}

.paralax {
    position: fixed;
    width: 1424px;
    height: auto;
    z-index: -1;
}

.paratext {
    position: absolute;
    right: 50%;
    left: 45%;
    bottom: auto;
    top: 1735px;
    color: #ffffff;
    font-family: 'Roboto';
    width: 596px;
    height: 34px;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 32.5%;
}

.redbox3 {
    position: relative;
    top: -890px;
    width: 137px;
    height: 6px;
    left: 48%;
    background-color: #BF0F0F;
}

.whitbox {
    position: relative;
    background-color: #FFF;
    width: 1440px;
    height: 670px;
    top: 58px;
}

.kep3 {
    border-bottom: #BF0F0F;
    display: inline-block;
    position: relative;
    width: 401px;
    height: 278px;
    top: 59px;
    left: 7%;
}



.kep5 {
    position: relative;
    width: 401px;
    height: 278px;
    top: 59px;
    left: 8%;
}

.kep4 {
    position: relative;
    width: 401px;
    height: 278px;
    top: 59px;
    left: 7.5%;

}

.text3 {
    position: relative;
    color: #474747;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    top: 80px;
    left: 6.9%;
}

.text4 {
    position: relative;
    color: #474747;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    top: 58px;
    left: 35.6%;
}

.text5 {
    position: relative;
    color: #474747;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    top: 37px;
    left: 64.4%;
}

.redboxsm {
    position: relative;
    background-color: #BF0F0F;
    width: 50px;
    height: 2px;
    top: 44px;
    left: 7%;
}

.redboxsm2 {
    position: relative;
    background-color: #BF0F0F;
    width: 50px;
    height: 2px;
    top: 42.5px;
    left: 35.7%;
}

.redboxsm3 {
    position: relative;
    background-color: #BF0F0F;
    width: 50px;
    height: 2px;
    top: 42px;
    left: 64.5%;
}

.dvg {
    color: #303030;
    font-family: 'Roboto';
    font-size: 42px;
    font-weight: 700;
    line-height: 34px;
    position: relative;
    top: 128px;
    text-align: center;
}

.belowdvg {
    position: relative;
    color: #474747;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    top: -48px;
    text-align: center;
}

.redbox2 {
    position: relative;
    background-color: #BF0F0F;
    width: 137px;
    height: 6px;
    top: -12px;
    left: 45%;
}

.transbox {
    width: 1440px;
    height: 502px;
    background: black;
    opacity: .5;
    overflow-x: hidden;
    position: relative;
    top: 60px;
}

.red1 {
    position: relative;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 46px;
    line-height: 34px;
    top: -184.9px;
    left: 162.5px;
}

.red2 {
    position: relative;
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    top: -174.9px;
    left: 165.5px;
}

.red3 {
    position: relative;
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 900;
    font-size: 46px;
    line-height: 34px;
    width: 306px;
    height: 152px;
    top: -252.9px;
    left: 456px;
    text-align: center;
    border-right-width: 1px;
    border-color: #474747;
    border-left-width: 1px;
}

.red4 {
    position: relative;
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 900;
    font-size: 46px;
    line-height: 34px;
    top: auto;
    left: auto;
}

.red5 {
    position: relative;
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 900;
    font-size: 46px;
    line-height: 34px;
    top: auto;
    left: auto;
}

.red6 {
    position: relative;
    font-family: 'Inter';
    font-weight: 900;
    color: #FFFFFF;
    font-size: 46px;
    line-height: 34px;
    top: auto;
    left: auto;
}

.red7 {
    position: relative;
    font-family: 'Inter';
    font-weight: 900;
    color: #FFFFFF;
    font-size: 46px;
    line-height: 34px;
    top: auto;
    left: auto;
}

.red8 {
    position: relative;
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 900;
    font-size: 46px;
    line-height: 34px;
    top: auto;
    left: auto;
}